body {
    background-color: #DDD;
    font-family: 'Roboto Condensed' !important;
}
.collapsible-body {
    padding: 0 !important
}
th.tagname {
    width: 60px !important;
    word-break: break-all;
}
